<h1>
  <%= gravatar_for @user %>
</h1>
  <%= @user.name %><br>
  Email:<%= @user.email %><br>
  Profile:<%= @user.profile %><br>
  Local:<%= @user.local %><br>
  
  
<%= link_to 'Edit Profile', edit_user_path(@user) %>